{% extends 'dp\base.html' %}
{% block conteudo %}
<div class="container">
    <center><h1>Descartes perigosos de usuários:</h1></center>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Endereço</th>
            <th>Descrição</th>
        </tr>
        {% for mensagem in mensagens %}
        <tr>
            <td>{{mensagem.endereco}}</td>
            <td>{{mensagem.texto}}</td>
        </tr>
        {% endfor %}
    </table>
    <center>
        <a href="{% url 'home' %}" style="text-decoration: none;">
            <button style="border-radius: 5%; background-color: green; color: #000;">
                Voltar
            </button>
        </a>
    </center>
    <br>
</div>
{% endblock %}