{% extends 'usuarios\base.html' %}
{% load static %}
{% block conteudo %}
<div class="container" style="text-align: center; min-height: 410px;">
    <h1>Obrigado por sua mensagem!</h1>
    <p>
        Enviaremos uma resposta para o seu e-mail o mais rápido possível.<br>
        A equipe NOCS agradece sua preocupação em buscar um descarte mais consciente!
    </p>
    <a href="{% url 'home' %}" style="text-decoration: none;">
        <button style="background-color: green; color: #000; width: 10ch; 
                    font-size: larger; margin-bottom: 2%;">
            Voltar
        </button>
    </a>
</div>
{% endblock %}