{% extends 'nocs\base_b.html' %}
{% block conteudo %}
<div class="container" style="text-align: center; min-height: 410px;">
    <h1>Bem vindo de volta!</h1>
    <p style="font-size: larger;">
        Selecione qual opção deseja
    </p>
    <ul>
        <li style="list-style: none;">
            <a href="{% url 'loja' %}" style="color: #000;">
                Sistema de recompensas
            </a>
        </li>
        <li style="list-style: none;">
            <a href="{% url 'descarte_perigoso' %}" style="color: #000;">
                Descarte de lixo perigoso
            </a>
        </li>
        <li style="list-style: none;">
            <a href="{% url 'info' %}" style="color: #000;">
                Informações sobre descarte de lixo
            </a>
        </li>
    </ul>
    <a href="{% url 'home' %}" style="text-decoration: none;">
        <button style="background-color: green; color: #000; width: 20ch; 
                font-size: larger; margin-bottom: 2%;">
            Sair
        </button>
    </a>
</div>
{% endblock %}