{% extends 'nocs\base_a.html' %}
{% block conteudo %}
<div class="container" style="text-align: center; min-height: 470px;">
    <h1>
        Essas informações não preenchem um cadastro
    </h1>
    <p style="font-size: larger;">
        Você pode realizar o seu cadastro neste <a href="{% url 'cadastro' %}">link</a>
    </p>
    <a href="{% url 'home' %}" style="text-decoration: none;">
        <button style="background-color: green; color: #000; width: 20ch; 
                font-size: larger; margin-bottom: 2%;">
            Voltar
        </button>
    </a>
</div>
{% endblock %}