{% extends 'nocs\base_a.html' %}
{% block conteudo %}
<div class="container" style="text-align: center; min-height: 470px;">
    <h1>
        <b>Quem somos?</b>
    </h1>
    <p style="margin-left: 5%; margin-right: 5%;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. In 
        natus nobis minima aperiam quis possimus, aliquam porro mollitia quaerat commodi molestiae 
        voluptate maiores? Recusandae distinctio sunt voluptatibus beatae magni magnam perspiciatis illo 
        harum, sit possimus quia pariatur quas asperiores expedita dolore labore impedit, neque ratione 
        aut dolor. Quisquam quo quos impedit mollitia quidem eveniet accusantium iure voluptatem blanditiis 
        laborum vitae quas tenetur recusandae minima illo, fuga deleniti ex repellendus quasi.
    </p>
    <h2>
        <b>Nossos desenvolvedores</b>
    </h2>
    <ul>
        <li style="list-style: none;">
            <a href="https://github.com/Adaurekt" target="_blank" style="color: black;">
                Adaury Neto
            </a>
        </li>
        <li style="list-style: none;">
            <a href="https://github.com/DiegoRodrigues76" target="_blank" style="color: black;">
                Diego Sawyer
            </a>
        </li>
        <li style="list-style: none;">
            <a href="https://github.com/guiga-sa" target="_blank" style="color: black;">
                Guilherme Silveira
            </a>
        </li>
        <li style="list-style: none;">
            <a href="https://github.com/paulo-campos-57" target="_blank" style="color: black;">
                Paulo Campos
            </a>
        </li>
    </ul>
    <br><br>
    <a href="{% url 'home' %}" style="text-decoration: none;">
        <button style="background-color: green; color: #000; width: 20ch; 
            font-size: larger; margin-bottom: 2%;">
            Voltar
        </button>
    </a>
</div>
{% endblock %}