{% extends 'nocs\base_a.html' %}
{% block conteudo %}
<div class="container" style="text-align: center; min-height: 470px;">
    <h1>
        <b>Quem somos?</b>
    </h1>
    <p style="margin-left: 5%; margin-right: 5%;">
        A Nova Organização de Coleta Sanitára (NOCS) é um projeto desenvolvido por estudantes da Cesar School 
        que tem como finalidade melhorar o sistema de coleta em Recife, fazendo com que esta coleta seja mais 
        segura e mais prática tanto para os coletores de lixo quanto para os usuários padrões da nossa plataforma! 
        <br>
        Gostou da nossa ideia? <a href="{% url 'cadastro' %}">Faça seu cadastro!</a>
    </p>
    <h2>
        <b>Nossos desenvolvedores</b>
    </h2>
    <ul>
        <li style="list-style: none;">
            <a href="https://github.com/Adaurekt" target="_blank" style="color: black;">
                Adaury Neto
            </a>
        </li>
        <li style="list-style: none;">
            <a href="https://github.com/TomCabral" target="_blank" style="color: black;">
                Antônio Cabral
            </a>
        </li>
        <li style="list-style: none;">
            <a href="https://github.com/DiegoRodrigues76" target="_blank" style="color: black;">
                Diego Sawyer
            </a>
        </li>
        <li style="list-style: none;">
            <a href="https://github.com/guiga-sa" target="_blank" style="color: black;">
                Guilherme Silveira
            </a>
        </li>
        <li style="list-style: none;">
            <a href="https://github.com/paulo-campos-57" target="_blank" style="color: black;">
                Paulo Campos
            </a>
        </li>
    </ul>
    <br><br>
    <a href="{% url 'home' %}" style="text-decoration: none;">
        <button style="background-color: green; color: #000; width: 20ch; 
            font-size: larger; margin-bottom: 2%;">
            Voltar
        </button>
    </a>
</div>
{% endblock %}