{% extends 'nocs\base_a.html' %}
{% load static %}
{% block conteudo %}
<div class="container" style="text-align: center; min-height: 500px;">
    <h1>Mensagem enviada!</h1>
    <p>
        Obrigado por sua avaliação!<br>
        A equipe NOCS agradece sua avaliação, trabalhamos constantemente para oferecer as 
        melhores condições de trabalho!
    </p>
    <a href="{% url 'indice_coletor' %}" style="text-decoration: none;">
        <button style="background-color: green; color: #000; width: 10ch; 
                    font-size: larger; margin-bottom: 2%;">
            Voltar
        </button>
    </a>
</div>
{% endblock %}