{% extends 'nocs\base_b.html' %}
{% load static %}
{% block conteudo %}
<div class="container" style="align-items: center; width: 80%; background-color: aquamarine; 
        text-align: center; font-size: larger; font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 2%;">
    <h1>NOCS</h1>
    <p>Tem dúvidas de como descartar seu lixo?</p>
    <ul style="align-items: flex-start;">
        <li>
            <h3 style="text-align: justify;">Recicláveis</h3>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima sint 
                eligendi iure voluptatum perferendis, maiores ea ad molestiae tempore 
                alias, autem quidem? Molestiae, soluta, magni delectus expedita rem, ex 
                commodi sed aperiam optio aliquid obcaecati praesentium ea unde sit 
                recusandae.
            </p>
        </li>
        <li>
            <h3 style="text-align: justify;">Lixo hospitalar</h3>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima sint 
                eligendi iure voluptatum perferendis, maiores ea ad molestiae tempore 
                alias, autem quidem? Molestiae, soluta, magni delectus expedita rem, ex 
                commodi sed aperiam optio aliquid obcaecati praesentium ea unde sit 
                recusandae.
            </p>
        </li>
        <li>
            <h3 style="text-align: justify;">Descarte químico/tóxico</h3>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima sint 
                eligendi iure voluptatum perferendis, maiores ea ad molestiae tempore 
                alias, autem quidem? Molestiae, soluta, magni delectus expedita rem, ex 
                commodi sed aperiam optio aliquid obcaecati praesentium ea unde sit 
                recusandae.
            </p>
        </li>
    </ul>
    <form action="{% url 'enviado' %}" method="post">
        {% csrf_token %}
        <h3>Ainda tem dúvidas?</h3>
        <p>
            Nos pergunte!
        </p>
        E-mail: <input type="email" name="email" size="60"><br><br>
        Deixe aqui sua pergunta e enviaremos a resposta para seu e-mail<br>
        <input type="text" name="mensagem" size="115"><br><br>
        <button class="form-control-sm" style="background-color: green; color: #000; width: 20ch; 
                    font-size: larger; margin-bottom: 2%;">
            Enviar
        </button>
    </form>
    <a href="{% url 'indice' %}" style="text-decoration: none;">
        <button style="background-color: green; color: #000; width: 10ch; 
                    font-size: larger; margin-bottom: 2%;">
            Voltar
        </button>
    </a>
</div>
{% endblock %}